<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4 shadow-lg" style="width: 100%; max-width: 600px;">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.input :name, label: 'Nome', required: true, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group col-md-6">
          <%= f.input :lastname, label: 'Sobrenome', required: true, input_html: { class: 'form-control' } %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.input :cpf, label: 'CPF', required: true, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group col-md-6">
          <%= f.input :oab, label: 'OAB', required: true, input_html: { class: 'form-control' } %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.input :sex, label: 'Sexo', collection: ['Masculino', 'Feminino', 'Outro', 'Prefiro não responder'], include_blank: false, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group col-md-6">
          <%= f.input :birth_date, label: 'Nascimento', as: :string, input_html: { type: 'date', class: 'form-control' }, required: true %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.input :city, label: 'Cidade', required: true, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group col-md-6">
          <%= f.input :state, label: 'Estado', collection: ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO'], prompt: 'Selecione o estado', input_html: { class: 'form-control' }, required: true %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.input :phone, label: 'Telefone', required: true, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group col-md-6">
          <%= f.input :email, label: 'E-mail', required: true, input_html: { class: 'form-control' } %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.input :password, label: 'Senha', required: true, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group col-md-6">
          <%= f.input :password_confirmation, label: 'Confirmar Senha', required: true, input_html: { class: 'form-control' } %>
        </div>
      </div>

      <div class="form-group form-check">
        <%= f.input :terms_of_use, label: 'Aceitar Termos de Uso', as: :boolean, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input' }, required: true %>
      </div>

      <div class="form-group text-center">
        <%= f.button :submit, "Criar Conta", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <div class="text-center">
      <%= link_to 'Voltar', root_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
